        <div class="widget-title">
            <h5>{{ form_title}}</h5>
            {% if not form.vars.valid %}<span class="label label-danger">{{ form.vars.errors|length > 0 }} erreur{% if form.vars.errors|length > 1 %}s{% endif %} </span>{% endif %}
        </div>
        {% if not form.vars.valid %}
            {{ form_errors(form) }}
        {% endif %}