{% extends '::main_content.html.twig' %}
{% block content_title %}Semestres enregistrés pour cette délégation{% endblock %}
 {%block submenu %}
    <a class="btn tip-bottom" href="{{ path('semester_new') }}"> <i class="icon-add"></i>Nouveau semestre</a>
{% endblock %}
{% block main_content %}
<div class="widget-box">
    <div class="widget-title">
            <span class="icon">
                    <i class="icon-th"></i>
            </span>
            <h5>Tous les semestres</h5>
    </div>
    <div class="widget-content nopadding">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Date de début</th>
                    <th>Date de fin</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for semester in semesters %}
                <tr>
                    <td>{% if semester.startDate %}{{ semester.startDate | date('d/m/Y') }}{% endif %}</td>
                    <td>{% if semester.endDate %}{{ semester.endDate|date('d/m/Y') }}{% endif %}</td>
                    <td><a href="{{ path('semester_show', { 'id': semester.id }) }}">Détails</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}