{% extends '::base.html.twig' %}
{% block body %}
    <h1>Une erreur est survenue</h1>
    <h2>Le serveur a retourné l'erreur "{{ status_code }} {{ status_text }}".</h2>
    <img src="{{ asset('img/tbservers.png') }}" alt="Matthew Inman - TheOatmeal.com" />
{% endblock %}