{% extends '::base.html.twig' %}
{% block body %}
    <h1>Oops! An Error Occurred</h1>
    <h2>The server returned a "{{ status_code }} {{ status_text }}".</h2>
    <img src="{{ asset('images/tbservers.png') }}" alt="Matthew Inman - TheOatmeal.com" />
    <legend>Matthew Inman - TheOatmeal.com</legend>
{% block body %}