{% extends '::main_content.html.twig' %}
{% block content_title %}Tous les comptes-rendus{% endblock %}
{%block submenu %}
{% endblock %}
{% block main_content %}
<div class="row">
    <div class="col-md-12">
    </div>
</div>
{% endblock %}