<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
  <head>
      {% block head %}
        {% embed '::head.html.twig' %}{% endembed %}
      {% endblock %}
    <title>Service AALF - {{ app.session.get('organizationBranchName') }}</title>
  </head>
  <body>
    <div class="alert-global">
        {% for type, flashMessages in app.session.flashbag.all %}
            {% for flashMessage in flashMessages %}
                <div class="alert alert-flash alert-{{ type }} fade in">
                    {{ flashMessage|raw }}
                    <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    {% include '::header.html.twig' %}
    {% include '::sidebar.html.twig' %}
    <div id="content">{% block body %}{% endblock %}</div><!-- end content -->
  </body>
</html>
