<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    {% include '::head.html.twig' %}
    <title>Alphabétisation - {{ app.session.get('organizationBranchName') }}</title>
  </head>
  <body>
    {% include '::header.html.twig' %}
    {% include '::sidebar.html.twig' %}
    <div id="content">{% block body %}{% endblock %}</div>
  </body>
</html>