<header id="header">
        <nav id="nav">
                <ul>
                        <li><a>Guillaume Lucazeau</a></li>
                        <li><a>Délégation du 3e et 10e</a></li>
                        <li><a>Session du 01/01/2011 au 02/02/2012</a></li>
                        <li><a>Déconnexion</a></li>
                </ul>
        </nav>
</header>