<div id="virguleInformationPanel" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">×</button>
                <h3>Outil de gestion des cours d'alphabétisation - version {VERSION}</h3>
            </div>
            <div class="modal-body">
                <h4>Informations de version</h4>
                <ul>
                    <li>Git commit : {GIT_COMMIT}</li>
                    <li>Date de construction : {BUILD_DATE}</li>
                    <li>Github : <a href="https://github.com/glucazeau/Virgule">https://github.com/glucazeau/Virgule</a></li>
                </ul>
                <h4>Problèmes / Suggestions</h4>
                    <a href="https://github.com/glucazeau/Virgule/issues/"><button class="btn btn-default"><i class="icon-github"></i> Ouvrir un ticket</button></a>
                    <br />
                    <a href="https://github.com/glucazeau/Virgule/issues/">liste des tickets ouverts</a> 
                </p>
                <h4>Outils utilisés</h4>
                <ul>
                    <li><a href="http://symfony.com/">Symfony 2</a></li>
                    <li><a href="http://getbootstrap.com/">Twitter Bootstrap 3</a></li>
                    <li><a href="https://wrapbootstrap.com/theme/unicorn-admin-template-WB0F35928">Unicorn theme 2.1.0</a></li>
                    <Li><a href="http://test5.version-test.com:8081/">Jenkins</a></li>
                </ul>
                <h4>Contact</h4>
                Guillaume Lucazeau : <a href="mailto:glucazeau@gmail.com">glucazeau@gmail.com</a>
            </div>
        </div>
    </div>
</div>