<div id="virguleInformationPanel" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">×</button>
                <h3>Outil de gestion des cours d'alphabétisation - version {VERSION}</h3>
            </div>
            <div class="modal-body">
                <h4>Informations de version</h4>
                <ul>
                    <li>Git commit : {GIT_COMMIT}</li>
                    <li>Date de construction : {BUILD_DATE}</li>
                    <li>Github : <a href="https://github.com/glucazeau/Virgule">https://github.com/glucazeau/Virgule</a></li>
                </ul>
                <h4>Signaler un problème / proposer une amélioration</h4>
                <p>
                    <a href="https://github.com/glucazeau/Virgule/issues/new">Ouvrir un ticket</a>
                </p>
                <h4>Logiciels utilisés</h4>
                <ul>
                    <li>Symfony 2</li>
                    <li>Twitter Bootstrap 3</li>
                    <li>Unicorn theme 2.1.0</li>
                </ul>
                <h4>Contact</h4>
                Guillaume Lucazeau : <a href="mailto:glucazeau@gmail.com">glucazeau@gmail.com</a>
            </div>
        </div>
    </div>
</div>