    <tfoot>
        <tr>
            <td colspan="3" class="nav_previous"{{ pagerfanta(entities, 'default') }}</td>
            <td colspan="3" class="nav_next">Next page Last page</td>
        </tr>
    </tfoot>