; These parameters can be imported into other config files
; by enclosing the key with % (like %database_user%)
; Comments start with ';', as in php.ini
[parameters]
    database_driver = pdo_mysql
    database_host = localhost
    database_port = 3306
    database_name =
    database_user =
    database_password =

    mailer_transport = smtp
    mailer_host = localhost
    mailer_user =
    mailer_password =

    locale = fr

    secret = Virgule
    charset = UTF-8

    wkhtmltopdf_path = 

    pager_nb_results = 15

    user_manual_url = 

    temporary_credentials_days = 
    permanent_credentials_days = 

    site_adress =
    contact_email_address =