{% extends '::main_content.html.twig' %}
{% block content_title %}Tous les comptes-rendus{% endblock %}
{%block submenu %}
    {% include 'VirguleMainBundle:ClassSession:menu.html.twig' with { 'courses': courses } %}
{% endblock %}
{% block main_content %}
<div class="row">
    <div class="col-md-12 center" style="text-align: center;">
        <ul class="quick-actions-horizontal">
        {% if currentClassLevelId is not empty %}
             <li>
                <a href="{{ path('classsession_index') }}">
                    <span>{% include '::class_level_badge.html.twig'  with { 'classLevelColorCode': '#000000', 'classLevelLabel': 'Tous' } %}</span>
                </a>
            </li>   
        {% endif %}            
        {% for classLevel in classLevels %}
            {% if currentClassLevelId is empty or classLevel.id != currentClassLevelId %}
                <li>
                    <a href="{{ path('classsession_index_per_level', { 'id': classLevel.id }) }}">
                        <span>{% include '::class_level_badge.html.twig'  with { 'classLevelColorCode': classLevel.htmlColorCode, 'classLevelLabel': classLevel.label } %}</span>
                    </a>
                </li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>    
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="widget-box">
            <div class="widget-title">
                    <span class="icon">
                            <i class="icon-th"></i>
                    </span>
                    <h5>Tous les comptes-rendus</h5>
                    <span class="label label-info tip-left" data-original-title="{{ classSessions | length }} cours">{{ classSessions | length }}</span>
            </div>
            <div class="widget-content nopadding">
                {% block table %}
                    {% include 'VirguleMainBundle:ClassSession:table.html.twig' with { 'classSessions': classSessions }  %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}