    <a class="btn tip-bottom" href="{{ path('classsession_rss_index') }}"> <i class="icon-rss"></i>S'abonner à un flux RSS</a>
    <a class="btn tip-bottom" href="#"> <i class="icon-search"></i>Rechercher dans les compte-rendus</a>
    <a class="btn tip-bottom" href="{{ path('classsession_new') }}"> <i class="icon-add"></i>Nouveau compte-rendu</a>