{% extends '::main_content.html.twig' %}
{% block head %}
    {{ parent() }}
    {% include 'VirguleMainBundle:ClassSession:form_header.html.twig' %}
{% endblock %}
{% block content_title %}Ajouter un compte-rendu{% endblock %}
{% block submenu %}{% endblock %}
{% block main_content %}
<div class="row">
    <div class="col-md-12 center">
        <form action="{{ path('classsession_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal" novalidate="novalidate" id="summary-form">
            <div class="widget-box">
                    {% include 'VirguleMainBundle:ClassSession:form.html.twig' with { 'form': form }  %}
                    <div class="form-actions">                                     
                        <input class="btn btn-success" type="submit" value="Enregistrer le compte-rendu" />
                    </div>
                </div>
            </div>        
        </form>
    </div>
</div>
{% endblock %}