 <div id="fullSizeProfilePictureStudent{{ id }}" class="lightbox hide fade"  tabindex="-1" role="dialog" aria-hidden="true">
     <div class='lightbox-header'>
        <button type="button" class="close" data-dismiss="lightbox" aria-hidden="true">&times;</button>
    </div>
    <div class='lightbox-content'>
        <img src="{{ asset(webPath) }}">                
        <div class="lightbox-caption"><p>{{ firstname}} {{ lastname }}</p></div>
    </div>
</div>
