{% extends '::main_content.html.twig' %}
{% block head %}    
    {{ parent() }}
    {% block javascripts %}
        <script type="text/javascript">
        function enrollStudent(courseId, studentId) {
            var studentEnrollUrl = Routing.generate('course_enroll_student', { 'courseId': courseId, 'studentId': studentId });
            $.get(studentEnrollUrl, function(data) {

            });
        }
        function searchStudent(studentName) {
            var imgPath = '{{ asset('img') }}';

            var studentSearchUrl = Routing.generate('student_search_name', { 'name': studentName });

            $.get(studentSearchUrl, function(data) {
                students = data;
                $("#studentsList").empty();
                $.each(data, function(i, item) {
                    var studentLastName = data[i].lastname;
                    var studentFirstName = data[i].firstname;
                    var studentId = data[i].id;
                    var studentGender = data[i].gender;
                    var studentNativeCountryCode = data[i].nativeCountryCode;
                    var studentNativeCountryName = data[i].nativeCountryName;

                    var genderIcon = '/icons/user.png';
                    if (studentGender == 'F') {
                        genderIcon = '/icons/user_female.png';
                    }
                    $("#studentsList").append('\
                        <li>\
                            <div class="article-post">\
                                <p><strong>' + studentFirstName + ' ' + studentLastName + '</strong>\
                                <img src="' + imgPath  + genderIcon + '" />\
                                <img src="' + imgPath + '/drapeaux/' + studentNativeCountryCode.toLowerCase() + '.png" alt="' + studentNativeCountryName + '" title="' + studentNativeCountryName + '" />\
                                </p>\
                                <a href="#" class="btn btn-success btn-xs" onClick="enrollStudent({{ course.id }}, ' + studentId + ');">Inscrire</a>\
                            </div>\
                        </li>');
                });
            });
        }

        $(document).ready(function () {
            
            
            $('#searchStudentName').keyup(function() {
                searchStudent($('#searchStudentName').val());
            });
        });
        
        
        </script>
    {% endblock %}
{% endblock %}
{% block content_title %}Gérez les inscriptions à ce cours{% endblock %}
{%block submenu %}
{% endblock %}
{% block main_content %}
<div class="row">
    <div class="col-md-6 center">
        <div class="widget-box">
            <div class="widget-title">
                <h5>Inscrire un nouvel apprenant</h5>
            </div>
            <div class="widget-content nopadding">
                <form action="#" method="get" class="form-horizontal">
                    <div class="form-group">
                        <div class="controls">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group input-group-sm">
                                        <span class="input-group-addon">
                                            <i class="icon-search"></i>
                                        </span>
                                        <input class="form-control" type="text" id="searchStudentName" placeholder="Saisissiez une partie du nom de l'apprenant recherché">
                                    </div>
                                </div>
                            </div>
                    </div>
                </form>
                <ul class="recent-posts" id="studentsList">
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}