{% extends '::main_content.html.twig' %}
{% block content_title %}Planning des cours{% endblock %}
{%block submenu %}
    <a class="btn tip-bottom" href="{{ path('course_index') }}"> <i class="my-icon-list"></i>Voir la liste des cours</a>
    <a class="btn tip-bottom" id="select-planning-classrooms-modal" data-toggle="modal"> <i class="my-icon-printer"></i>Imprimer</a>
    {% if is_granted('ROLE_SECRETARY') %}
        <a class="btn tip-bottom" href="{{ path('course_new') }}"> <i class="my-icon-add"></i>Nouveau cours</a>
    {% endif %}
{% endblock %}
{% block main_content %}
{% include 'VirguleMainBundle:ClassRoom:select.html.twig' with { 'selectClassRoomForm': selectClassRoomForm } %}
</div>
<div class="row">
    <div class="col-md-12 center">
        <div class="alert alert-info">
        Les cours avec une <strong>date de début alternative dans le futur</strong>, ou <strong>une date de fin alternative dans le passé</strong>, ne sont pas affichés sur le planning.
        </div>
        {% include 'VirguleMainBundle:Course:planning.html.twig' %}
    </div>
</div>
{% endblock %}
