/* CSS custom */
A:link {
	font-size: 11px;
	color: #1C4A77;
	text-decoration: underline;
}

A:hover {
	font-size: 11px;
	color: #587A9B;
	text-decoration: none;
}

A:visited,A:active {
	font-size: 11px;
	color: #587A9B;
	text-decoration: underline;
}

html {
	padding: 0px;
	margin: 0px;
}

BODY {
	font-family: Verdana, Arial, serif;
	font-size: 11px;
	padding: 0px 20px;
	margin: 0px;
	background: #FFFFFF;
}

SPAN.titre_menu_general {
	font-weight: bold;
}

SPAN.affichage_session_terminee {
	background-color: #FF4040;
}

/* Page de login */
body.login {
	background-color: #EEEEEE;
	margin: 0px 0px;
	font-size: 0.9em;
	font-family: Verdana, Arial, serif;
	color: #333333;
	margin-top: 50px;
}

#global {
	margin: auto auto;
	width: 550px;
}

#pomme {
	text-align: right;
}

#pomme img {
	border: 10px #CCCCCC solid;
	margin-top: 5px;
}

/* Le formulaire.
***********************/
form {
	width: 100%;
	font-family: Verdana, Arial, serif;
}

fieldset {
	margin-bottom: 10px;
	border: 0px;
}

legend {
	color: #FF0000;
	font-weight: bold;
}

label.login {
	margin-top: 20px;
	display: block;
	font-size: 90%;
}

label.inline {
	display: inline
}

input {
	border: 1px solid #999999;
	background-color: #FFFFFF;
	font-family: Verdana, Arial, serif;
	font-size: 0.9em;
}

input.bouton {
	border: 1px solid #999999;
	background-color: #CCCCCC;
	font-family: Verdana, Arial, serif;
	font-size: 0.9em;
	margin-top: 5px;
	margin-top: 15px;
}

* :focus {
	border-color: #000000;
}

/* Fin page de login */
/* Dispatch séances */
#seancesDispatch ul {
	margin: 50;
	padding: 100;
	list-style-type: square;
}

#seancesDispatch h1 {
	margin: 8px 0;
	padding: 3px;
	padding-left: 0px;
	color: #555;
	font-family: Verdana, Arial, serif;
	font-size: 250px;
}

/* MENUS */
.navigation {
	width: 200px;
	list-style: none;
	margin: 0;
	padding: 0;
}

/* TITRES */
h3.titre_seances_suivies {
	font-size: 11px;
	font-weigth: bold;
	margin: 150px;
	margin: 2000px;
	padding: 2000px;
}

div.liste_seances_suivies {
	margin-bottom: 2%;
}

/* Liens menu */
/* liste vues autres */
li.lien_presence_apprenant_homme {
	list-style-image: url('../images/icons/user.png');
}

li.lien_presence_apprenant_femme {
	list-style-image: url('../images/icons/user_female.png');
}

li.lien_selectionner_cours {
	list-style-image: url('../images/icons/time_go.png');
}

SPAN.actif {
	color: #00BF00;
	font-weight: bold;
}

SPAN.inactif {
	color: #BF0000;
	font-weight: bold;
}

SPAN.erreur {
	color: #BF0000;
	font-weight: bold;
}

/* CONTENEURS : http://www.intensivstation.ch/files/en_templates/temp02.html */
#conteneur {
	width: 100%;
	margin: 0 auto;
}

#header {
	margin-left: 260px;
	padding-bottom: 5px;
	border-bottom: #D7D7BF 1px solid;
	margin-bottom: 10px;
}

#wrap {
	overflow: hidden;
}

#contenu {
	padding-left: 260px;
}

#sidebar {
	float: left;
	border-right: #D7D7BF 1px solid;
	width: 250px;
	margin-right: 5px;
}

#footer {
	text-align: center;
	margin-left: 260px;
	margin-top: 5px;
	border-top: #D7D7BF 1px solid;
	padding-top: 5px;
}

/* listes */
#sf_admin_container #sf_admin_content {
	width: 90%;
	margin-right: 0px;
}

/* NOUVEAUX BOUTONS */
/* - menu responsable */
.lien_liste_niveaux {
	background: url('../images/icons/rosette.png') no-repeat 10px 8px;
	text-indent: 30px;
	display: block;
}
.lien_liste_sessions {
	background: url('../images/icons/calendar.png') no-repeat 10px 8px;
	text-indent: 30px;
	display: block;
}
.lien_liste_cours {
	background: url('../images/icons/time.png') no-repeat 10px 8px;
	text-indent: 30px;
	display: block;
}

/* - menu formateur */
.lien_liste_formateurs {
	background: url('../images/icons/group.png') no-repeat 10px 8px;
	text-indent: 30px;
	display: block;
}

.lien_modifier_fiche {
	background: url('../images/icons/telephone.png') no-repeat 10px 8px;
	text-indent: 30px;
	display: block;
}

.lien_liste_apprenants {
	background: url('../images/icons/group.png') no-repeat 10px 8px;
	text-indent: 30px;
	display: block;
}

.lien_liste_coordonnees {
	background: url('../images/icons/phone.png') no-repeat 10px 8px;
	text-indent: 30px;
	display: block;
}

.lien_ajout_apprenant {
	background: url('../images/icons/user_add.png') no-repeat 10px 8px;
	text-indent: 30px;
	display: block;
}

.lien_rechercher_apprenant {
	background: url('../images/icons/magnifier.png') no-repeat 10px 8px;
	text-indent: 30px;
	display: block;
}

.lien_liste_seances {
	background: url('../images/icons/date.png') no-repeat 10px 8px;
	text-indent: 30px;
	display: block;
}

.lien_ajout_seance {
	background: url('../images/icons/date_add.png') no-repeat 10px 8px;
	text-indent: 30px;
	display: block;
}

.lien_planning {
	background: url('../images/icons/calendar_view_week.png') no-repeat 10px
		8px;
	text-indent: 30px;
	display: block;
}

.lien_logout {
	background: url('../images/icons/door_in.png') no-repeat 10px 8px;
	text-indent: 30px;
	display: block;
}

.lien_aide {
	background: url('../images/icons/help.png') no-repeat 10px 8px;
	text-indent: 30px;
	display: block;
}

.lien_logout {
	background: url('../images/icons/door_in') no-repeat 10px 8px;
	text-indent: 30px;
	display: block;
}

.lien_logout {
	background: url('../images/icons/door_out.png') no-repeat 10px 8px;
	text-indent: 30px;
	display: block;
}

a.button {
	background: url(../images/icons/button.png);
	display: block;
	color: #555555;
	font-weight: bold;
	height: 30px;
	line-height: 29px;
	margin-bottom: 8px;
	text-decoration: none;
	width: 240px;
}

a:hover.button {
	color: #0066CC;
}

afficher_cacher {
	border:0;	
}

/* boutons */
#sf_admin_container .sf_admin_action_show_apprenant {
	background: url(../images/icons/user_go.png) no-repeat 3px 2px;
	border-right: 4px solid #66f !important;
}

#sf_admin_container .sf_admin_action_edit_apprenant {
	background: url(../images/icons/user_edit.png) no-repeat 3px 2px;
	border-right: 4px solid #66f !important;
}

#sf_admin_container .sf_admin_action_edit_seance {
	background: url(../images/icons/date_edit.png) no-repeat 3px 2px;
	border-right: 4px solid #66f !important;
}

#sf_admin_container .sf_admin_action_search {
	background: url(../images/icons/magnifier.png) no-repeat 3px 2px;
	border-right: 4px solid #66f !important;
}

#sf_admin_container .sf_admin_action_show_stats {
	background: url(../images/icons/chart_bar.png) no-repeat 3px 2px;
	border-right: 4px solid #66f !important;
}

#sf_admin_container .sf_admin_action_generer_attestation {
	background: url(../images/icons/rosette.png) no-repeat 3px 2px;
	border-right: 4px solid #66f !important;
}

/* contenu des champs de formulaire */
div.content {
	position: relative;
}

label {
	width: 200px;
	display: table-row;
}

div.form-row {
	text-align: left;
}

/* mise en forme listes */
span.seuilNbInscrit0 {
	color: #FF8000; /* orange */
	font-weight: bold;
}

span.seuilNbInscrit1 {
	color: #FF0000; /* rouge */
	font-weight: bold;
}

/* messages */
#sf_admin_container .no-result {
	margin-bottom: 10px;
	border: 1px solid #6289B8;
}

#sf_admin_container .no-result h2 {
	margin: 0 !important;
	padding: 5px 20px 5px 25px;
	font-size: 11px;
	color: #fff;
	background: #6289B8 url(../images/icons/information.png) no-repeat 5px
		2px;
}

/* PLANNING */
#crf_planning table,#crf_planning tr,#crf_planning td {
	text-align: center;
	border-width: 1px;
	border-style: solid;
	border-color: black;
}

td.cellDay {
	width: 120px;
	font-weight: bold;
}

td.cellHour {
	width: 70px;
	vertical-align: top;
	height: 30px;
	font-weight: bold;
}

/* Images */
#logo_appli {
	text-align: center;
}

/* Liste pyjama */
tr.even td {
	background-color: #E6E6E6
}