/*-----Nav-----*/
#nav {
    box-shadow: 0px 0px 12px rgba(88, 83, 74, .7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#5c5850', EndColorStr='#48473e');
    height: 36px; background-color: #48473f;
}
#nav ul{ padding-top: 4px;}
#nav a{color: #f0edda; font: bold 12px "proxima-nova-1","proxima-nova-2"; text-decoration: none; letter-spacing: .2em;	padding: 2px 10px;}
#nav ul li{list-style: none; display: inline; margin-left: 0px; }
#nav li:first-child{margin-left: 0px;}
nav a{
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
}
nav a:hover{
    background-color: #3a3e38;
    background-color: rgba(47, 54, 48, .7);
}
nav a.active {
    background-color: #070807;
}

/* Screen */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
nav ul{list-style:none;}
a{font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0;}

/*-----Structure-----*/
body{color: #514d46;  background: #F0EDDA;}
#header{margin-bottom: 0px;overflow:hidden; text-align: center;}
#content {
    width: 80%;
    margin: auto;
}

/*-----Headings-----*/
h1, h3  {font-family: "proxima-nova-1","proxima-nova-2";}
h1 {font-size: 35px; text-transform: uppercase; letter-spacing: 3px; line-height: 1; color:#d34831; -webkit-box-shadow: -2px -2px 0 #fff; -moz-box-shadow: -2px -2px 0 #fff; text-shadow: -1px 1px 0 rgba(0,0,0,.70); }
h2 {color: #d34831; font: 57px/1 "tamarillo-1","tamarillo-2"; margin-right: 10px;}
h3{color: #514d46; text-transform: uppercase; letter-spacing: 2px; line-height: 36px;font-size: 16px;}

/*-----Links-----*/
a{color: #d34831;}
a:hover{color: #F45338;}

/*-----Top menu-----*/
#top_menu {
    background-color: #48473f;
    width: 70%;
    margin: 0 auto 0 auto;
    padding: 10px;
    -moz-border-radius: 0 0 12px 12px;
    -webkit-border-radius: 0 0 12px 12px;
    border-radius: 0 0 12px 12px;
    font: 12px  "proxima-nova-1","proxima-nova-2";
    letter-spacing: .08em;
    margin-bottom: 20px;
}

#top_menu li {
    list-style: none;
    display: inline;
    margin-left: 15px;
}

#top_menu a.minutes {
    background: url('../images/icons/script.png') no-repeat;
    padding: 2px 0px 0px 20px;
}
#top_menu a.students {
    background: url('../images/icons/group.png') no-repeat;
    padding: 2px 0px 0px 20px;
}
#top_menu a.teachers {
    background: url('../images/icons/user_suit.png') no-repeat;
    padding: 2px 0px 0px 20px;
}
#top_menu a.schedule {
    background: url('../images/icons/calendar.png') no-repeat;
    padding: 2px 0px 0px 20px;
}
#top_menu a.user_profile {
    background: url('../images/icons/telephone.png') no-repeat;
    padding: 2px 0px 0px 20px;
}
#top_menu a.administration {
    background: url('../images/icons/cog.png') no-repeat;
    padding: 2px 0px 0px 20px;
}

#top_menu a {
    text-decoration: none;
    color: #f0edda;
}

/*-----Uni-form overriden----*/
.uniForm .ctrlHolder.focused{ background: #D3D1BF; }
.ctrlHolder .left{ float: left;}
.ctrlHolder .right{ float: right;}

/*----- Tables ----*/
#results_table {
    widht: 50%;
    margin-left: auto; 
    margin-right: auto; 
}

.records_list {
	font: bold 12px "proxima-nova-1","proxima-nova-2"; 
	font-size: 12px;
	text-align: left;
	border-collapse: collapse;
        border: 1px solid #48473f;
        width: 100%;
}
.records_list th {
	font: bold 12px "proxima-nova-1","proxima-nova-2"; 
	padding: 8px;
	background: #48473f url('table-images/gradhead.png') repeat-x;
	border-top: 2px solid #48473f;
	border-bottom: 1px solid #48473f;
        color: #f0edda; 
        text-decoration: none; letter-spacing: .2em; padding: 2px 10px;
}
.records_list td
{
	padding: 8px; 
	border-bottom: 1px solid #48473f;
	color: #48473f;
	border-top: 1px solid #48473f;
	background: transparent url('table-images/gradback.png') repeat-x;
}
.records_list tfoot tr td
{
	background: #D8D6C4;
	font-size: 12px;
	color: #48473f;
}
.records_list tbody tr:hover td
{
	background: #D8D6C4 url('table-images/gradhover.png') repeat-x;
	color: #48473f;
}
.records_list td.nav_left {
	text-align: left;
}
.records_list td.nav_middle {
	text-align: center;
}
.records_list td.nav_right {
	text-align: right;
}
.records_list td.entity_actions ul li{
    list-style: none; display: inline; margin-left: 0px;
}

