/* Main Application */
#content {
  min-height: 650px;
}
#header h1 {
    background: url("../img/logo-crf.png") no-repeat scroll 0 0 transparent;
    height: 60px;
    left: 4px;
    line-height: 600px;
    overflow: hidden;
    position: relative;
    top: 6px;
    width: 215px;
}
#search .connected_branch {
    padding:4px 35px 4px 14px;
    margin-bottom:20px;
    color: #9A9A9A;
    font-size: 16px;
}
#content-header {
   padding-top: 10px;
}
#content-header h1 {
  font-size: 22px;
}
h2 { font-size: 13px; }

/* Side menu */
#sidebar i {   
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-color: transparent;
    display: inline-block;
    margin: 0px 0 0 !important; 
    padding: 10px;
    vertical-align: middle;
}
#sidebar > ul > li > a > i {
    opacity: 0.6;
}
#sidebar > ul > li > a:hover > i, #sidebar > ul > li > ul > li > a:hover > i {
    opacity: 1;
}
#sidebar > ul > li > a:hover, #sidebar > ul > li > ul > li > a:hover {
    color: #FFFFFF;
}
/* Take same style but use "current" from KnpMenu instead of "active" */
#sidebar > ul > li.current, #sidebar > ul > li > ul > li.current {
    box-shadow: 0 2px 4px rgba(0,0,0,0.2) inset;
    opacity: 1;
}
/* Sublinks */
#sidebar > ul > li.current > a > i, #sidebar > ul > li > ul > li.current > a > i {
    opacity: 1;
}
#sidebar > ul > li.current > a, #sidebar > ul > li > ul > li.current > a {
    color: #FFFFFF;
}

#sidebar > ul > li.current > a {
    background: url("../img/menu-active.png") no-repeat scroll right center transparent !important;
    text-decoration: none;
}
#sidebar a.welcome i {
    background-image: url('../img/icons/house.png');
}
#sidebar a.minutes i {
    background-image: url('../img/icons/page.png');
}
#sidebar a.students i {
    background-image: url('../img/icons/group.png');
}
#sidebar a.teachers i {
    background-image: url('../img/icons/user_suit.png');
}
#sidebar a.schedule i {
    background-image: url('../img/icons/calendar.png');
}
#sidebar a.schedule-edit i {
    background-image: url('../img/icons/calendar_edit.png');
}
#sidebar a.statistics i {
    background-image: url('../img/icons/chart_bar.png');
}
#sidebar a.user_profile i {
    background-image: url('../img/icons/telephone.png');
}
#sidebar a.user_add i {
    background-image: url('../img/icons/user_add.png');
}
#sidebar a.administration i {
    background-image: url('../img/icons/cog.png');
}
#sidebar a.schoolbag i {
    background-image: url('../img/icons/book.png');
}
#sidebar a.organization_branch i {
    background-image: url('../img/icons/telephone.png');
}
#sidebar a.logs i {
    background-image: url('../img/icons/page_white_gear.png');
}
#sidebar a.red-cross i {
    background-image: url('../img/icons/red-cross.png');
}
#sidebar a.class-levels i {
    background-image: url('../img/icons/medal_gold_2.png');
}
i.my-icon-go {
    background-image: url('../img/icons/arrow_right.png');
}
i.my-icon-add {
    background-image: url('../img/icons/add.png');
}
i.my-icon-user_add {
    background-image: url('../img/icons/user_add.png');
}
i.my-icon-user_edit {
    background-image: url('../img/icons/user_edit.png');
}
i.my-icon-user_delete {
    background-image: url('../img/icons/user_delete.png');
}
i.my-icon-user-certificate {
    background-image: url('../img/icons/rosette.png');
}
i.my-icon-add {
    background-image: url('../img/icons/add.png');    
    padding-top: 25px;
}
i.my-icon-user-inactive {
    background-image: url('../img/icons/user_red.png');
}
i.my-icon-user-active {
    background-image: url('../img/icons/user_green.png');
}
i.my-icon-export {
    background-image: url('../img/icons/page_excel.png');
}
i.my-icon-info {
    background-image: url('../img/icons/information.png');
}
i.my-icon-search-student, i.my-icon-search-classsession, i.my-icon-search-document {
    background-image: url('../img/icons/magnifier.png');
}
i.my-icon-calendar {
    background-image: url('../img/icons/calendar.png');
}
i.my-icon-printer {
    background-image: url('../img/icons/printer.png');
}
i.my-icon-list {
    background-image: url('../img/icons/application_view_list.png');
}
i.my-icon-rss {
    background-image: url('../img/icons/feed.png');
}
i.my-icon-copy {
    background-image: url('../img/icons/page_white_paste.png');
}
i.my-icon-trombinoscope {
    background-image: url('../img/icons/vcard.png');
    padding-top: 25px;
}
i.document-list {
    background-image: url('../img/icons/book.png');
}
i.document-add {
    background-image: url('../img/icons/book_add.png');
}
i.organization_branch-add {
    background-image: url('../img/icons/telephone_add.png');
}

/* Dashboard */
#content-header i, .alert i, .virgule-btn i {   
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-color: transparent;
    display: inline-block;
    margin: -2px 5px 2px 2px !important; 
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
.class-date {
  color: #BBBBBB;
  float: right;
  margin: 4px -2px 0 0;
  text-align: center;
  width: 100px;
}
.left_list {
    float:left;
    margin-right: 2px;
}
#welcome ul {
    margin-left: -20px;
}
#welcome li {
    margin-top: 2px;
}
.clear_list {
    clear: both; float: none; height: 0;
}
#myCourses li:first-child {
    margin-top: 0px;
}
#myCourses li {
    margin-top: 10px;
}
ul.no-img {
    list-style-type: none;
}
ul.no-img li {
    list-style-type: none;
    margin-left: -25px;
}
ul.no-img li.margin {
    margin-left: 5px;
}
li.user_M { list-style-image:url('../img/icons/user.png'); }
li.user_F { list-style-image:url('../img/icons/user_female.png'); }
li.document { list-style-image:url('../img/icons/attach.png'); }
.course-quick-access {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    cursor: pointer;
    margin: 0 0 10px;
    padding: 13px 20px 10px;
    position: relative;
    text-align: center;
}
.course-quick-access strong {
	font-weight: bold;
	font-size: 17px;
	margin-left: 5px;
}

/* Page menu */
.btn-group form { display: inline-block; }
#content-header i,.alert i, .btn i {   
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-color: transparent;
    display: inline-block;
    margin: -2px 5px 2px 2px !important; 
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
#content-header > .btn-group .btn {
  line-height: 18px;
  font-size: 16px;
  padding: 12px 16px;
  color: rgba(0, 0, 0, 0.5);
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: #dddddd;
}

/*Planning */
#planning td {
    font-size: 12px;
    margin: 0;
    padding:5px 0px 0px 0px; 
    text-align: center;
}
#planning p.course_cell {
    display: block;
    margin: 0;
    padding: 0;
}
#planning span {
    margin-bottom: 20px;
}
a.course_details {
    text-decoration: none;
    color: #000000;
}

/* Student profile */
.emergency {
    background-color: #7A3131;
}

#emergency_contact {
    border-bottom: 3px solid #7A3131;
}
#emergency_contact .widget-title {
    color: #FFFFFF;
    background-color: #7A3131;
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#BF4D4D), to(#7A3131));
    background-image: -webkit-linear-gradient(top, #BF4D4D 0%, #7A3131 100%);
    background-image: -moz-linear-gradient(top, #BF4D4D 0%, #7A3131 100%);
    background-image: -ms-linear-gradient(top, #BF4D4D 0%, #7A3131 100%);
    background-image: -o-linear-gradient(top, #BF4D4D 0%, #7A3131 100%);
    background-image: -linear-gradient(top, #BF4D4D 0%, #7A3131 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#BF4D4D', endColorstr='#7A3131',GradientType=0 ); /* IE6-9 */
    border-bottom: 5px solid #7A3131;
    height: 36px;
}
#emergency_contact .widget-content {
    border-left: 3px solid #7A3131;
    border-right: 3px solid #7A3131;
}
#emergency_contact h5 {
    color: #ffffff;
    text-shadow: 0 1px 0 #666666;
    float: left;
    font-size: 12px;
    font-weight: bold;
    padding: 12px;
    line-height: 12px;
    margin: 0;
}

/* Tables */
.data-table tbody tr:hover td {
    background-color: #ECEDED;
}
.data-table tbody ul li{
    list-style: none; display: inline; margin-left: 0px;
}

.dataTables_length {
    margin: 9px 55px 0 0;
}

.col-md-* {
    padding-left: 0px;
}