<!--{% include 'VirguleMainBundle:Comment:new.html.twig' with {'commentForm': commentForm, 'target_id': entity.id, 'target_route': 'student_comment_create' }  %}        -->
<div class="widget-content">        
    <ul class="recent-comments">
    {% if comments.count > 0 %}
        {% for comment in comments %}                        
            <li>
                <div class="comments">
                    <span class="user-info">{{ comment.teacher.firstName }}  {{ comment.teacher.lastName }} le  {{ comment.date|date("d/m/Y") }}</span>
                    <p>{{ comment.comment|raw }}</p>
                </div>
            </li>
        {% endfor %}
    {% else %}
        Aucun commentaire trouvé.
    {% endif %}
    </ul>
</div>