<div class="accordion-group widget-box">
    <div class="accordion-heading">
        <div class="widget-title">
            <a data-parent="#collapse-group" href="#collapseCommentForm" data-toggle="collapse">
                <span class="icon"><i class="icon-plus"></i></span><h5>Ajouter un commentaire</h5>
            </a>
        </div>
    </div>
    <div class="collapse accordion-body" id="collapseCommentForm">                          
        <div class="widget-content nopadding">
            <form action="{{ path(target_route, { 'id': target_id }) }}" method="post" {{ form_enctype(commentForm) }} class="form-horizontal">
                {{ form_row(commentForm.comment, { 'label': 'Commentaire'}) }}
                {{ form_rest(commentForm) }}
                <div class="form-actions"> 
                    <button  class="btn" type="submit">Enregistrer le commentaire</button>
                </div>
            </form>
        </div>
    </div>
</div>