<div class="widget-box">
    <div class="widget-title">
        <span class="icon">
            <i class="icon-th"></i>
        </span>
        <h5>Salles disponibles dans cette délégation</h5>
    </div>
    <div class="widget-content nopadding">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Adresse</th>
                    <th>Commentaires</th>
                </tr>
            </thead>
            <tbody>
            {% for classRoom in classRooms %}
                <tr>
                    <td>{{ classRoom['classroom_name'] }}</td>
                    <td>{{ classRoom['classroom_address'] }}</td>
                    <td>{{ classRoom['classroom_comments'] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>