{% extends '::main_content.html.twig' %}
{% block head %}
    {{ parent() }}
    {% include 'VirguleMainBundle:Document:form_header.html.twig' with { 'existingTags': existingTags, 'documentTags': entity.tags } %}
{% endblock %}
{% block content_title %}Ajouter un document{% endblock %}
{%block submenu %}
    <a class="btn tip-bottom" href="{{ path('document_index') }}"> <i class="my-document-list"></i>Retour à la liste des documents</a>
{% endblock %}
{% block main_content %}    
<div class="row">
    <div class="col-md-12 center">
        <div class="alert alert-info">
        Pour vos documents, privilégiez des formats ouverts et compatibles avec tous les systèmes, tels que le PDF ou les documents ODF (lisibles et éditables avec <a href="http://www.openoffice.org/fr/" title="Vers le site open Office">Open Office</a> ou <a href="https://www.libreoffice.org/" title="Vers le site Libre Office">Libre Office</a>, suites bureautiques gratuites).
        </div>
                    {% include 'VirguleMainBundle:Document:form.html.twig' with { 'form': form }  %}
                    <div class="form-actions">                                     
                        <input class="btn btn-success" type="submit" value="Enregistrer le document" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}