{% extends '::main_content.html.twig' %}
{% block content_title %}Ajouter une délégation{% endblock %}
{%block submenu %}
    <a class="btn tip-bottom" href="{{ path('organizationbranch_index') }}"> <i class="icon-list"></i>Retour à la liste des délégations</a>
{% endblock %}
{% block main_content %}
<form action="{{ path('organizationbranch_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
    <div class="widget-box">
        {% include 'VirguleMainBundle:OrganizationBranch:form.html.twig' with { 'form': form }  %}
        <div class="form-actions">                                     
            <input class="btn btn-success" type="submit" value="Enregistrer la délégation" /> 
        </div>
    </div>
</form>
{% endblock %}